POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
PGADMIN_EMAIL=""
PGADMIN_PASSWORD=""

# API optional overrides (when running SmartCollect.Api locally)
DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
